# If you want to invert this .gitignore, see https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files

# Libraries
vendor/

# Other WordPress plugins
akismet/
debug-bar/
jetpack/
query-monitor/
wc-smooth-generator/
woocommerce/
woocommerce-admin/
woocommerce-services/
woo-sales-by-country-reports/
hello.php
index.php

# PHPStorm
.idea

# PHPCS
.phpcs.xml
phpcs.xml
